/*-----------------------
Define commonly used colors
-------------------------*/
:root {
	--light-peach: #ffddaa;
	--coffee-dark: #804000;
	--odd-rows: #dedbee;
	--even-rows: #fbfbff;
	--heading-row: #f5f3c2;
	--footer-background: #bfd9e6;
	--page-heading: #000000;
	--text-color: #000000;
	--bkgrnd-color: #eee;
	--shadow-color: #83615c;
	--menu-hover: #0fe12f;
	--title-color: #ffffff;
	--light-text: #ffffff;
	--light-background: #b7ffb7;
	--light-shadow: rgba(0,0,0,0.2);
}
/* -----------------------
Base styles
------------------------*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 2.25em;
} /* 36px */
h2 {
	font-size: 1.75em;
} /* 28px */
h3 {
	font-size: 1.375em;
} /* 22px */
h4 {
	font-size: 1.125em;
} /* 18px */
h5 {
	font-size: 1em;
} /* 16px */
h6 {
	font-size: .875em;
} /* 14px */
p {
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote {
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #000000;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    font-size: 12px;
    color: initial;
}
a:link {
	color: royalblue;
}

a:visited {
	color: #fdb14a;
}

a:focus {
	color: black;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

/* -----------------------
Layout styles
------------------------*/
@font-face{
    font-family: "Pacifico";
    src: url('ttfonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face{
	font-family: "JosefinSans-Bold";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Bold.ttf');
}
@font-face{
	font-family: "JosefinSans-BoldItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-BoldItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Italic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Italic.ttf');
}
@font-face{
	font-family: "JosefinSans-Light";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Light.ttf');
}
@font-face{
	font-family: "JosefinSans-LightItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-LightItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Regular";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
@font-face{
	font-family: "JosefinSans-SemiBold";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
}
@font-face{
	font-family: "JosefinSans-SemiBoldItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Thin";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Thin.ttf');
}
@font-face{
	font-family: "JosefinSans-ThinItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-ThinItalic.ttf');
}
@font-face{	
	font-family: "Metamorphous";	
	src: url('ttfonts/Metamorphous/Metamorphous-Regular.ttf');
}
.container {
	max-width: 100em;
	margin: 0;
	padding: 0;
}

.heading {
	color: var(--coffee-dark);
	background: var(--light-peach);
	padding: .5em;
	font-size: 31px;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 2px 4px #83615c;
}

.header-heading {
	margin: 0;
}

.nav-bar {
	background: var(--coffee-dark);
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.menu-items {
	float: right;
	margin: 0 0;
	box-shadow: 2px 2px 2px #83615c;
}

/* -----------------------
Nav
------------------------*/
.nav {
	margin: 0;
	padding: 0;
	list-style: inline;
}

.nav li {
	display: inline;
	margin: 0;
}

.nav a {
	display: block;
	padding: 0em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.nav a:link {
	color: white;
}

.nav a:visited {
	color: white;
}

.nav a:focus {
	color: black;
	background-color: white;
}

.nav a:hover {
	color: white;
	background-color: green;
}

.nav a:active {
	color: white;
	background-color: red;
}

.side-menu {
	margin: 0;
	padding: 0;
	list-style: circle;
}
.side-menu li {
	display: block;
	margin: 0;
}

.side-menu a {
	display: block;
	padding: 0em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.side-menu a:link {
	color: #fde1ce;
}

.side-menu a:visited {
	color: #db9717;
}

.side-menu a:focus {
	color: black;
	background-color: white;
}

.side-menu a:hover {
	color: white;
	background-color: green;
}

.side-menu a:active {
	color: white;
	background-color: red;
}

/* -----------------------
Single styles
------------------------*/
.img-responsive {
	max-width: 100%;
}

.logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

.btn {
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover {
	color: #fff !important;
	background-color: green;
}

.btn:focus {
	color: #fff !important;
	background-color: black;
}

.btn:active {
	color: #fff !important;
	background-color: red;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/
@media ( min-width : 42em) {
	.header {
		padding: 1.5em 3em;
	}
	.nav-bar {
		padding: 1em 3em;
	}
	.content {
		padding: 2em 3em;
	}
	.footer {
		padding: 2em 3em;
	}
	.nav li {
		display: inline;
		margin: 0 1em 0 0;
	}
	.nav a {
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}

.content {
	min-height: 70%;
	background: -webkit-linear-gradient(#d5e6ee, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d5e6ee, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d5e6ee, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#d5e6ee, white);
	/* Standard syntax (must be last) */
}

.footer {
	color: #ffffff;
	background: var(--coffee-dark);
  	height: 15px;
  	margin-top: -10px;
	float: bottom;
	font-size: 10px;	
}

.error {
	color: red;
	font-size: 12px
}

.valid {
	color: green;
	font-size: 12px;
}

table.inventoryDetails td {
	padding: 20px;
}

table.dailyspecials td {
	padding: 0 20px;
	vertical-align: text-bottom;
}

.addaccount {
	font-size: 14px;
}

.accountheader {
	font-size: 30px;
}

.inventoryheader {
	font-size: 30px;
}
.paging {
	text-align: center;
	padding: 0 .75em;
	font-size: 10px
}

.paging li
{
	
	display: inline;
}
.invoiceItemDetails td
{
	padding: 1em;	
	vertical-align: bottom;
}
.invoicedetail td
{
	padding: 2em;
}
.currency
{
	text-align: right;
}
div.pageheading
{
	color: var(--coffee-dark);
}
table.signup td
{
	padding: 0;
	text-align: left;
}
div.category {
	text-align: center;
	font-size: 20px;
}

table.catlist td
{
	text-align: center;
	font-size: 14px;
	padding-right: 2em;
	vertical-align: bottom;
}
table.catlist
{
    margin-left:auto; 
    margin-right:auto;
	vertical-align: bottom;
}

.invoicehead td
{
	background: #f5f3c2;
	font-weight: bold;
}

.productdetails td 
{
	padding: 0 .5em;
	text-align: left;
	vertical-align: text-top;
	vertical-align: top;
}
.tableview
{
	border-collapse: collapse;
	font-size: 12px;
}
/***********************************************************
 * List tables 
 * These are the specifications for list tables
 ***********************************************************/

table.tableview tr:nth-child(odd)
{
	background: var(--odd-rows);
}
table.tableview tr:nth-child(even)
{
	background: var(--even-rows);
}
table.tableview th
{
	background: var(--heading-row);
}

tfoot.tablefooter td 
{
	background: var(--footer-background);
	color: #000000;
	font-size: 12px;
	font-weight: 900;
	text-align: right;
}

/*The specifics for each table*/
#employeelist td {
	text-align: center;
}
#tmview td {
	text-align: center;
}

#shoppingtable td
{
	text-align: left;
	padding: .5em;
    border-width:2px;  
    border-style:solid;
}
#shoppingtable td:nth-child(2)
{
		text-align: right;
}

#viewsurvey 
{
	vertical-align: bottom;
	box-shadow:  0px 8px 16px 0px var(--light-shadow);
}

#viewledger td
{
	padding: 0 2em;
	border: 1px solid black;
}
#listusers td { 
	border: 1px solid black;
}
#listusers td:nth-child(4) {
	text-align: right;
}

#listaccounts td {
	border: 1px solid black;
}
#listaccounts td:nth-child(3) {
	text-align: right;
}
#listaccounts td:nth-child(4) {
	text-align: center;
}
#pCash 
{
	text-align: center;
}
#listinventory
{
	text-align: center;
}
#viewsurvey td
{
	text-align: center;
}

#listinvoice 
{
	font-size: 12px;
}

#listinvoice td:nth-child(4)
{
	text-align: right;
}
#listinvoice td:nth-child(5)
{
	text-align: right;
}
#listinvoice td
{
	padding: 0 1em;

}

#viewheader td
{
	padding: 0 2em;
	border: 1px solid black;
}
#viewheader
{
	font-size: 12px;
}
#viewheader td:nth-child(4)
{
	text-align: right;
}
#activities td {
	border: 1px solid black;
}
.viewreturns td {
	text-align: right;	
	padding: 0 2.5em;
}

.viewcouponfoot
{

	background: #ffffff;
}

/***********************************************
 * Shopping List
 *
 ***********************************************/
table.productlist td
{
	padding: 0 .5em;
	vertical-align: text-bottom;
}

fieldset {
	float: left;
	display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 4px ridge #808080;
}
.printorders {
	float: center;
}
.returns {
border-collapse: collapse;	
}
.returns td {
	text-align: right;	
	padding: 0 2.5em;
	
}

.rmadetails {
	border-collapse: collapse;	
}
table.rmadetails th {
	background: #f5f3c2;
}
table.rmadetails td, th {
	text-align: left;
	padding: 0 2.5em;	
}
table.rmadetails caption{
	font-weight: bold;
	background: #a6a6ff;
}
hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 4px;
    border-color: #c9c4e3;
}
table.getRma td, th {
	text-align: left;
	padding: 0 2.5em;	
}
table.returns-status td, th {
	text-align: left;
	padding: 0 2.5em;	
	
}
.contact caption {
	font-weight: bold;
	font-size: 18px;
	padding: 1em;
}

table.pcinfoTable td, th{
	text-align: right;
	
}
.paymentRadio
{
	display: block;
}
.shoppingtable
{
	border-collapse: collapse;
	font-size: 12px;	
}

.coupontable td, th {
	text-align: left;
}

.standout
{
	background-color: #f0c575;
}
.disclaimer
{
	float: right;
	margin: 0 0;
	border: 4px ridge #808080;
	box-shadow: 2px 2px 2px #83615c;
}
.logos{
	padding-top: 0em;
	float: right;
	margin: 0 0;
	clear: right;
	}
.rightside {
	float: right;
}
.leftside {
	float: left;
	clear: both;
}
table.rightside td {
	vertical-align: text-bottom;	
}
table.leftside td {
	vertical-align: text-bottom;
}
.userinfo {
	box-shadow: 0px 8px 16px 0px var(--light-shadow);
	margin-right: 2em;
	margin-top: .5em;
}
.label {
	font-weight: 900;
}
.shadow 
{
	box-shadow:  0px 8px 16px 0px var(--light-shadow);
}
table.surveytable td
{
	padding-right: 3em;
	padding-bottom: 0;
	font-size: 12px;
}

table.audittable td:nth-child(2)
{
	text-align: right;
}
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.modal-content {
	background: -webkit-linear-gradient(#d5e6ee, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d5e6ee, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d5e6ee, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#d5e6ee, white);
	/* Standard syntax (must be last) */
    margin: 15% auto; /* 15% from the top and centered */
	box-shadow: 0px 8px 16px 0px var(--light-shadow);
    padding: 20px;
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
}

.spinner {
    width: 20px;
    height: 20px;
	background: none;
	
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;   

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.centerHeading {
	text-align: center;
}
.divshadow {
	box-shadow: 0px 8px 16px 0px var(--light-shadow);
}
.pieChart {
	height: 500px;
	width: 500px;	
}
.lineChart {
	height: 500px;
	width: 1000px;	
}
.barChart {
	height: 500px;
	width: 1000px		
}
.reportCharts {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.buttonTable {
	padding-top: 1.5em;
}
.searchEngine {
	width: 50px;
	height: 5px;
}
.searchBox {
    border-color: #004220;
	width:10px;
	height: 5px;
  }
.wordWrap {
	padding: 1em 1em 1em 1em;
	width: 500px;
	height: 300px;
	word-break: break-all;
	word-wrap: break-word;
	text-align: left;
	border: 1px solid black;	
}
.microlight {
    font-family : monospace;
    white-space : pre;
}
.editContainer {
	border: 1px solid black;
}
.editor {
	
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.titleText {
    display: flex;
    align-items: center;
    justify-content: center;
}
table.leftJustify th{
	text-align: left;
}
.altFont {
	font-family: JosefinSans-SemiBold;
}
.dropbtn {
    background-color: var(--coffee-dark);
    color: white;
    padding: 1px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover {
	background-color: green;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--coffee-dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--light-shadow);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: green}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.indent {
	padding-left: 4cm;
}
.tableborder td {
	border: 1px solid black;
}
.tableshadow {
	box-shadow: 0px 8px 16px 0px var(--light-shadow);
	height: 5px;
}
#pbar {
	width: 175px;
	background-color: transparent;
}
#pStrength {
	width: 0%;
	height: 5px;
	background-color: #ff0000;
}
